:root {
  --background: #1c2226;
  --meta-font: rgba(160, 174, 192, 255);
  --footer-margin: 5rem;
  --accent-color: #37936b;
  --lighter-accent: #50ac84;
  --side-width: 200px;
}


body {
  font-family: Inconsolata, monospace;
  /*Intern, serif;*/
  font-size: 100%;
  background-color: var(--background);
  color: #bbc5c9;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  /* display: grid; */
  /* margin: 5% 10%; */
  /* border: thin solid gray; */
  /* border-radius: 5px; */
  /* display: block; */
}

main {
  display: flex;
  align-items: stretch;
  margin: 1rem 0;
  /* padding: 0 1rem; */
  /* margin: 0 0 0 10rem; */
  /* padding: 1rem; */
  /* width: 60% */
  /* padding-right: 10%; */
}

/* main>* { */
  /* width: 100%; */
/* } */

header {
  display: table;
  margin: 0;
  display: flex;
  align-items: stretch;
}

header * {
  vertical-align: middle;
  margin: auto 0;
}

footer#main {
  display: block;
  text-align: center;
}

footer#main>* {
  margin: 0.5rem 0;
}

footer#main>address,
footer#main {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: var(--footer-margin);
  justify-content: center;

  /* margin: auto; */
}

footer#main>address {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 40px;
  gap: 10px;
  font-size: 30px;
}

i {
  margin: 0 .5rem;
}

p {
  display: inline;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

ul.articles,
li>.tag {
  list-style-type: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Intern, serif !important;
}

/* styling articles */
article h1:before {
  content: '# ';
  color: var(--meta-font)
}


#menu li {
  display: inline;
}

#post-list {
  margin-bottom: 1em;
  margin-top: 1em;
}

.post-meta {
  font-size: .69rem;
  color: var(--meta-font);
}

.post-content {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.inline {
  display: inline;
}

.list-none {
  list-style-type: none;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem 0;
}

.head_button {
  display: inline;
  padding: 0.5rem;
  background-color: var(--accent-color);
  font-size: 1rem;
}

a,
a:visited {
  background-color: transparent;
  color: inherit;
  text-decoration: inherit;
}

/* .head-button>a {} */

.head_button:hover {
  background-color: black;
}

#flex {
  display: flex;
}

#side-panel {
  width: var(--side-width);
  /* height: 100%; */
  float: left;
  padding: 0 0.5rem;
}

#side-panel * {
  white-space: pre;
}


.green {
  color: var(--accent-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  color: var(--accent-color) !important;
  font-weight: bold;
  text-align: center;
  width: min-content;

  /* margin: 0.5rem; */
  margin-left: 0;
  margin-right: 0;

  white-space: nowrap;
}

.cat {
  display: block;
  white-space: nowrap;
  color: var(--accent-color) !important;
  /* padding: 0.2em; */
}

.text-xs {
  font-size: .69rem;

}

.blinking-cursor {
  animation: blink 1.5s steps(2) infinite;
}

.math {
  letter-spacing: 0.em;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
}

sup.numbers {
  color: var(--lighter-accent);
}

content{
  padding-right: var(--side-width);
}
